{% load static %}
{% include 'header.html' %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

{% for i in books %}
    <center>
        <button><a href="/books/{{ book_id.id }}/update/">Изменить</a></button>
        <button><a href="/books/{{ book_id.id }}/delete/">Удалить</a></button>
        <br>
        <div class="card" style="width: 18rem;">
            <img src="{{ i.image.url }}" alt="" width="285" height="500">
            <div class="card-body">
                <p class="card-text">{{ i.created_at }}</p>
                <a href="/books/{{ i.id }}" class="btn btn-primary">Подробнее</a>
            </div>
        </div>
    </center>
    <br>
{% endfor %}

{% include 'footer.html' %}